@page "/apartments"
@inject IBoligService BoligService

<h3>Apartment List</h3>

@if (apartments == null)
{
    <span>Loading...</span>
}
else if (!apartments.Any())
{
    <span>No apartments found</span>
}
else
{
    <div class="container">
        <div class="row">
            @foreach (var apartment in apartments)
            {
                var firstImage = apartment.Pictures?.FirstOrDefault()?.PictureLink;

                <div class="col-md-4 mb-4">
                    <div class="card shadow-sm">
                        <img src="@firstImage" alt="House Image" class="card-img-top" />
                        <div class="card-body">
                            <h5 class="card-title">@apartment.Title</h5>
                            <p class="card-text">@apartment.Description</p>
                            <ul class="list-unstyled">
                                <li><strong>Pris: </strong> @((int)apartment.Price) Kr</li>
                                <li><strong>Location:</strong> @apartment.Location</li>
                                <li><strong>Størrelse:</strong> @apartment.SquareMeters m²</li>
                                <li><strong>Year:</strong> @apartment.Year</li>
                                <li><strong>Description:</strong> @apartment.Description</li>
                                <li><strong>Rum:</strong> @apartment.RoomsCount</li>
                                <li><strong>Floor-On:</strong> @apartment.Floor</li>
                                <li><strong>Elevator:</strong> @(apartment.HasElevator ? "Ja" : "Nej")</li>
                                <li><strong>Balcony</strong> @(apartment.HasBalcony ? "Ja" : "Nej")</li>
                                <li><strong>Created At:</strong> @apartment.CreatedAt</li>
                            </ul>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}

@code 
{
    private IEnumerable<Property>? apartments = null;
    private List<Pictures>? pictures = null;

    protected override async Task OnInitializedAsync()
    {
        // type id = 2 - its Apartments
        apartments = (BoligService.GetAllPropeties()).Where(i => i.PropertyType == PropertyType.Lejlighed);
        pictures = await BoligService.GetAllPictures();

        foreach (var apartment in apartments)
        {
            apartment.Pictures = pictures.Where(p => p.PropertyId == apartment.Id).ToList();
        }
    }
}