@page "/houses"
@inject IBoligService BoligService

<h3>House List</h3>

@if (houses == null)
{
    <span>Loading...</span>
}
else if (houses.Count == 0)
{
    <span>No houses found</span>
}
else
{
    <div class="container">
        <div class="row">
            @foreach (var house in houses)
            {
                var firstImage = house.Pictures?.FirstOrDefault()?.PictureLink;

                <div class="col-md-4 mb-4">
                    <div class="card shadow-sm">
                        <img src="@house.Pictures" alt="House Image" class="card-img-top" />
                        <div class="card-body">
                            <h5 class="card-title">@house.Title</h5>
                            <p class="card-text">@house.Description</p>
                            <ul class="list-unstyled">
                                <li><strong>Pris: </strong> @((int)house.Price) Kr</li>
                                <li><strong>Location:</strong> @house.Location</li>
                                <li><strong>Størrelse:</strong> @house.SquareMeters m²</li>
                                <li><strong>Year:</strong> @house.Year</li>
                                <li><strong>Description:</strong> @house.Description</li>
                                <li><strong>Rum:</strong> @house.RoomsCount</li>
                                <li><strong>Have:</strong> @(house.HasGarden ? "Ja" : "Nej")</li>
                                <li><strong>Etage: </strong> @house.NumberOfFloors</li>
                                <li><strong>Garage:</strong> @(house.HasGarage ? "Ja" : "Nej")</li>
                                <li><strong>Created At:</strong> @house.CreatedAt</li>
                            </ul>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}   

@code 
{
    private List<House>? houses = null;
    private List<Pictures>? pictures = null;

    protected override async Task OnInitializedAsync()
    {
        houses = await BoligService.GetAllHouses();
        pictures = await BoligService.GetAllPictures();

        foreach (var house in houses)
        {
            house.Pictures = pictures.Where(p => p.PropertyId == house.Id);
        }
    }
}
