@page "/"
@using Microsoft.AspNetCore.Authorization
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IBoligService BoligService
<div class="main-wrapper">
	<!-- Banner Section Start -->
	<section id="home-banner" class="home-banner" style="background-image: url('images/banner-1.jpg');">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-12">
					<h1 class="text-white banner-title font-48 text-center">
						Bedste sted at finde <span class="typewrite text-orange">din drømme bolig</span>
					</h1>
					<p class="banner-desc text-white font-22 text-center">Er du den første til at ringe om en ny annonce, får du 10 % rabat.</p>
				</div>
			</div>
		</div>
	</section>
	<!-- Banner Section End -->
	<!-- Category Box Section Start -->

	<section class="home-category-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-2 col-md-4 mb-3 mb-lg-0">
					<div class="card border-0 category-box">
						<div class="card-body text-center">
							<img src="images/category-1.png" alt="category-image" class="img-fluid mb-3">
							<h3 class="font-20"><a href="apartments" class="text-decoration-none stretched-link">Lejlighed</a></h3>
						</div>
					</div>
				</div>
				<div class="col-lg-2 col-md-4 mb-3 mb-lg-0">
					<div class="card border-0 category-box">
						<div class="card-body text-center">
							<img src="images/category-2.png" alt="category-image" class="img-fluid mb-3">
							<h3 class="font-20"><a href="houses" class="text-decoration-none stretched-link">Hus</a></h3>
						</div>
					</div>
				</div>
				
				<div class="col-lg-2 col-md-4 mb-3 mb-lg-0">
					<div class="card border-0 category-box">
						<div class="card-body text-center">
							<img src="images/category-6.png" alt="category-image" class="img-fluid mb-3">
							<h3 class="font-20"><a href="summerhouse" class="text-decoration-none stretched-link">Sommerhus</a></h3>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- Category Box Section End -->
	
	<!-- Featured Property Section Start -->

	<section class="home-featured-property spacer">
		<div class="container">
			<h2 class="text-center">Udvalgte boliger</h2>
			<p class="text-center">Seneste annoncer for boliger.</p>
				@if (Properties != null && Properties.Any())
				{
					<div class="owl-carousel owl-theme featured-property-carousel mt-5">
					@foreach (var property in Properties)
					{
						var firstImage = property.Pictures?.FirstOrDefault()?.PictureLink;
						<div class="featured-item w-100">
							<div class="card d-flex flex-column">
								<div class="featured-product-img position-relative">
									<a href="@property.Id">
										<img src="@firstImage" alt="featured-property" class="img-fluid w-100 fe-pro-img" />
									</a>
									<div class="property-details mb-2">
										<h4 class="text-white mb-0">@((int)property.Price) /<span>dkk</span></h4>
									</div>
									<div class="property-tag">
										<ul class="list-unstyled mb-0">
											<li class="bg-blue">Sælg</li>
										</ul>
									</div>
									<span class="featured-property me-2 text-white bg-green"><i class="fas fa-star font-12"></i></span>
									<span class="hot-property me-2 text-white bg-orange"><i class="fas fa-fire font-12"></i></span>
								</div>
								<div class="card-body d-flex flex-column">
									<p class="text-orange mb-0">@property.TypeName</p>
									<h4 class="font-20 product-title">
										<a href="@property.Id" class="text-decoration-none">@property.Title</a>
									</h4>
									<p><i class="fas fa-map-marker-alt"></i> @property.Location</p>
									<ul class="list-unstyled d-flex justify-content-between mb-0 mt-auto">
										<li>
											<p class="mb-0 d-flex align-items-center">
												<span class="me-2">@property.RoomsCount</span>
												<i class="fas fa-bed me-2"></i>
												<span>værelser</span>
											</p>
										</li>
										<li>
											<p class="mb-0 d-flex align-items-center">
												<span class="me-2">@property.SquareMeters</span>
												<i class="fas fa-vector-square me-2"></i>
												<span>m²</span>
											</p>
										</li>

									</ul>
								</div>
								<div class="property-footer border-top">
									<div class="card-body">
										<div class="property-footer-meta d-flex align-items-center">
											<div class="property-year ms-auto">
												<p class="mb-0">@property.CreatedAt.ToString("d MMM yyyy")</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					}
				</div>
				}
			<div class="text-center mt-4">
				<a href="/" class="btn btn-warning view-all-btn">Se alle boliger</a>
			</div>
		</div>
	</section>

	<!-- Featured Property Section End -->
	<!-- CTA Section Start -->
	<section class="home-cta-section">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-md-8">
					<div class="call-to-action-meta">
						<div class="cta-info">
							<h1 class="text-white">Leder du efter et drømmehus?</h1>
							<p class="text-white mb-0">Vi kan hjælpe dig med at realisere din drøm om et nyt hjem</p>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</section>

	<!-- CTA Section End -->
	<!-- Footer -->
	<footer id="footer" class="footer-section">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-lg-4">
					<div class="footer-about">
						<h3 class="font-18 text-white">Om hjemmesiden</h3>
						<h3 class="font-18 text-white">Find dit drømmehjem med os – Din pålidelige ejendomspartner</h3>
					</div>
				</div>
				<div class="col-md-6 col-lg-4 mt-4 mt-md-0">
					<h3 class="font-18 text-white">Kontakt os</h3>
					<p class="mt-4 pt-2 pe-5 d-flex mb-3"><i class="fas fa-map-marker-alt mt-1 font-22 me-3"></i> H.C. Andersens Vej 9, 8800 </p>
					<p class="pe-5 d-flex mb-3"><i class="fab fa-whatsapp mt-1 font-22 me-3"></i>+45 8950 3300</p>
					<p class="pe-5 d-flex mb-3"><i class="fas fa-phone-alt mt-1 font-22 me-3"></i>+45 8950 3300</p>
					<p class="pe-5 d-flex mb-3"><i class="fas fa-envelope mt-1 font-22 me-3"></i>mercantec@mercantec.dk</p>
				</div>
				<div class="col-md-12 col-lg-4 mt-4 mt-lg-0">
					<ul class="list-unstyled list-inline footer-social-link mt-4 pt-3">
						<li class="list-inline-item">
							<a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook-f font-22"></i></a>
						</li>
						<li class="list-inline-item">
							<a href="https://www.instagram.com" target="_blank"><i class="fab fa-instagram font-22"></i></a>
						</li>
						<li class="list-inline-item">
							<a href="https://www.snapchat.com" target="_blank"><i class="fab fa-snapchat font-22"></i></a>
						</li>

						<li class="list-inline-item">
							<a href="https://www.youtube.com" target="_blank"><i class="fab fa-youtube font-22"></i></a>
						</li>
					</ul>
				</div>

			</div>
			<div class="footer-bottom row">
				<div class="col-md-4 col-lg-6">
					<p>© 2024. Alle rettigheder forbeholdes.</p>
				</div>
			</div>
		</div>
	</footer>
</div>

<!-- Required JS -->
<script src="js/bootstrap.bundle.min.js"></script>
<script src="js/jquery.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="libs/fontawesome/js/all.js"></script>
<script src="js/isotope.pkgd.min.js"></script>
<script src="js/custom.js"></script>

@code 
{
	private List<Property>? Properties;
	private List<Pictures> dbPictures;
	private bool userIsAuthenticated;


	protected override async Task OnInitializedAsync()
	{
		// Get the authentication state
		var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
		var user = authState.User;

		// Check if the user is authenticated
		userIsAuthenticated = user.Identity?.IsAuthenticated ?? false;

		try
		{
			Properties = BoligService.GetAllPropeties().OrderByDescending(h => h.CreatedAt).Take(5).ToList();
			dbPictures = await BoligService.GetAllPictures();

			// Associate pictures with the houses
			foreach (var property in Properties)
			{
				property.Pictures = dbPictures.Where(p => p.PropertyId == property.Id).ToList();
			}
		}
		catch (Exception ex)
		{
			Console.WriteLine($"Error loading data: {ex.Message}");
		}
	}
}
